<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Vehicle Detection</title>
        <link href="../bootstraps/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://fonts.cdnfonts.com/css/montserrat" rel="stylesheet">
        <link rel="stylesheet" href="../styles/css/style.css">
        <link rel="stylesheet" href="../styles/css/styleguide.css">
    </head>
        
                
        
    <body background ="../styles/image/background1.jpg" class="background1 img-fluid" alt="background">
  
        </div>
        <!--Navbar-->
            <div class="screen">
                <nav class="navbar" style="background-color: #0F8A83;">
                    <div class="container-fluid">
                        <a class="navbar-brand mb-0 h1 " href="#" >
                            <img src="..\styles\image\initial-monogram-letter-v-logo-design-vector-v-letter-logo-design-vector-template-400-261163532-removebg-preview.png" alt="logo" width="70" class="d-inline-block align-content-lg-start"> 
                            Vehicle Detection 
                        </a>
                    </div>
                </nav>
            </div>

            

        <!--Main Countainer-->
            <div class="container">
                <div class="container-main mt-4">
                <div class="card row justify-content-xl-center">
                    <div class="card-body mb-auto">
                        <h6  class="card-title mb-lg-1">Main</h6>
                        <div class="card text-center" style="height: 300px">
                        <h6 class="card-subtitle  text-mutted mt-2">Main Source</h6>
                    </div>
                </div>
                </div>
            </div>
            
            
            
            <!--Button Start & Done-->
            <div class="container">
                <div class="container-tombol"></div>
                <div class="row justify-content-evenly">
                    <button type="button" class="btn btn-primary btn-lg col-4">Start</button>
                    <button type="button" class="btn btn-danger btn-lg col-4">Done</button>
                </div>
                </div>
            </div>

            <!--Logo Kendaraan-->
            <div class="container">
                <div class="container-object"></div>
                <div class="object">
                    <h5>Object</h5>
                    <hr>
                    <div class="logo">
                        <div class="container row justify-content-evenly">
                            <div class="card col-3">
                                <img src="..\styles\image\images-removebg-preview.png" class="logo1 img-fluid" alt="motor" style="width: 150px">
                            </div>
                            <div class="card col-3">
                                <img src="..\styles\image\icon-mobil-png-5-removebg-preview.png" class="logo2 img-fluid" alt="motor" style="width:90pt">
                            </div>
                            <div class="card col-3">
                                <img src="..\styles\image\truck-icon-28-removebg-preview.png" class="logo3 img-fluid" alt="motor"style="width:80pt">
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>

            <!--Counting-->
            <div class="container">
                <div class="container-counter">
                    <h5>Counter</h5>
                    <hr>
                    <div class="count">
                        <div class="container row justify-content-evenly">
                            <div class="card col-3">
                                <h2 class="counting1">0</h2>
                            </div>
                            <div class="card col-3">
                                <h2 class="counting2">0</h2>
                            </div>
                            <div class="card col-3">
                                <h2 class="counting3">0</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        


        <script src="../bootstraps/js/bootstrap.bundle.min.js"></script>
    </body>
</html